@tailwind base;
@tailwind components;
@tailwind utilities;

.satoshi {
  font-family: 'Satoshi', sans-serif;
}

.left-align {
  text-align: left;
  margin: 0; /* Reset margin to ensure consistent alignment */
}

.home-padding{
 padding-top: 160px;
 padding-left: 208px;
}

.dark-mode-button {
  position: relative; /* Ensure position is set */
  z-index: 9999; /* Set a high z-index value */
}

/* Nav button */
.contact-form-image{
  Width: 430px;
  
}

.form-height{
  height: 500px;
}

.project-border{
  border-width: 1.5px;
}
/* Projects styling */




.image{
  Width:565px;
  Height:320px;
  border-radius:15px, 15px, 0px, 0px;
}



.project-text-container{
  width: Hug (485px)px;
height: Hug (349px)px;
gap: 25px;
opacity: 0px;

}


.live-demo-dark{

opacity: 0px;
background-color: #55E5A4;


}

.visit-site{

border: 1px 0px 0px 0px;
opacity: 0px;

}

.live-demo-light{

opacity: 0px;
background-color:#FFFFFF;

}










.contact-border {
  
  border: width 1px;
  
}

/* contact image */

.contact-image{
  width: 600px;
height: 480px;


}

/* Scroll nav bg-color */

.navbar-scroll {
  background-color: blue; /* Example background color for scroll */
}

/* Blinking circle */



.circle, .circle::before {
  content: " ";
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
  background-color: #00FF00;

}

.circle::before {
  animation: available 2s infinite;
  position: absolute;
  background-color: #00FF00
}

@keyframes available {
  80%   {
    transform: scale(2);
    opacity: 0;
  }
  100%   {
    transform: scale(2);
    opacity: 0;
  }
}
 
@-webkit-keyframes available {
  50%   {
    transform: scale(2);
    opacity: 0
  }
  100%   {
    transform: scale(2);
    opacity: 0
  }
}


/* sticky nav */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.stickynav {
  position: fixed;
  top: 0;
  width: full;
  z-index: 50;
  width: 100%;
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
}




.about-line{
  border-width: 1px;
}

/* section border*/

.section-border {
  border-width: 0.5px; 
  border-color: #55e5a4;
  border-style: solid;
}

.footer-border{
  border-width: 1px;
}


.socials{
  width: 100px;
height: 50px;
padding: 15px 0px 0px 0px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;
background: linear-gradient(180deg, #343236 0%, #38343F 100%);
box-shadow: 0px 15px 25px 0px #00000080;

box-shadow: 0px 2px 2px 0px #55E5A4 inset;


}

.socials-icon{
width: 50px;
height: 50px;
top: 15px;
left: 15px;
padding: 1.67px 1.67px 2.07px 1.67px;
gap: 0px;
opacity: 0px;

}