@tailwind base;
@tailwind components;
@tailwind utilities;

.satoshi {
  font-family: 'Satoshi', sans-serif;
}

.left-align {
  text-align: left;
  margin: 0; 
}

.home-padding{
 padding-top: 160px;
 padding-left: 208px;
}

.dark-mode-button {
  position: relative; 
  z-index: 9999; 
}

/* Nav button */
.contact-form-image{
  Width: 430px;
  
}

.form-height{
  height: 470px;

}

.project-border{
  border-width: 1.5px;
}
/* Projects styling */


.aboutDark{
  background: linear-gradient(180deg, rgba(85, 229, 164, 0.05) 0%, rgba(84, 84, 84, 0.10) 100%);
}

.aboutLight{
  background: linear-gradient(180deg, rgba(38, 49, 63, 0.2) 0%, rgba(211, 211, 211, 0.2) 100%);

}



.aboutlayout{
  width: Hug (1,194px)px;
height: Hug (555px)px;
top: 1049px;
left: 159px;
gap: 87px;
opacity: 0px;

}

.projectsdark{
  background: linear-gradient(359.54deg, rgba(84, 84, 84, 0.15) -6.41%, rgba(21, 28, 37, 0) 97.55%);
}

.projectslight{
  background: linear-gradient(359.98deg, rgba(38, 49, 63, 0) -25.29%, rgba(240, 244, 248, 0.25) 86.91%);

}


.aboutBox{
width: Hug(1,194px);
height: Hug(555px);
Top:1049px;
Left:159px;
Gap:87px;


}

.aboutdiv{
width: 599px;
height: 555px;
gap: 0px;
opacity: 0px;

}

.aboutText{
  width: 599px;
height: 240px;
top: 95px;
gap: 0px;
opacity: 0px;




}

.technologies{
  width: Hug (545px)px;
  height: Hug (62px)px;
  top: 378px;
  gap: 33px;
  opacity: 0px;
  


}

.technologiesmobile{
  position: relative;

top: 30px;

gap: 18px;


}



.resume{
  position: relative;

top: 220px;


}

.resumemobile{
  position: relative;

top: 50px;


}

.image{
  width: 550px;
  height: 400px;
  gap: 0px;
  opacity: 0px;
  position:relative;
  
}

.aboutTitle{
width: Hug (190px)px;
height: Hug (73px)px;
left: 10px;
top:95px;
gap: 40px;
opacity: 0px;

}

.image-mobile{
  Width:565px;
  Height:220px;
  border-radius:15px, 15px, 0px, 0px;

}



.project-text-container{
  width: Hug (485px)px;
height: Hug (349px)px;
gap: 25px;
opacity: 0px;

}


.live-demo-dark{

opacity: 0px;
background-color: #55E5A4;


}

.visit-site{

border: 1px 0px 0px 0px;
opacity: 0px;

}

.live-demo-light{

opacity: 0px;
background-color:#FFFFFF;

}










.contact-border {
  
  border: width 1px;
  
}

/* contact image */

.contact-image{
  width: 600px;
height: 480px;


}

/* Scroll nav bg-color */

.navbar-scroll {
  background-color: blue; /* Example background color for scroll */
}

/* Blinking circle */



.circle, .circle::before {
  content: " ";
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
  background-color: #00FF00;

}

.circle::before {
  animation: available 2s infinite;
  position: absolute;
  background-color: #00FF00
}

@keyframes available {
  80%   {
    transform: scale(2);
    opacity: 0;
  }
  100%   {
    transform: scale(2);
    opacity: 0;
  }
}
 
@-webkit-keyframes available {
  50%   {
    transform: scale(2);
    opacity: 0
  }
  100%   {
    transform: scale(2);
    opacity: 0
  }
}


/* sticky nav */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.stickynav {
  position: fixed;
  top: 0;
  width: full;
  z-index: 50;
  width: 100%;
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
}




.about-line{
  border-width: 1px;
}

/* section border*/

.section-border {
  border-width: 0.5px; 
  border-color: #55e5a4;
  border-style: solid;
}

.footer-border{
  border-width: 1px;
}


.socials{
  width: 100px;
height: 50px;
padding: 15px 0px 0px 0px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;
background: linear-gradient(180deg, #343236 0%, #38343F 100%);
box-shadow: 0px 15px 25px 0px #00000080;

box-shadow: 0px 2px 2px 0px #55E5A4 inset;


}

.socials-icon{
width: 50px;
height: 50px;
top: 15px;
left: 15px;
padding: 1.67px 1.67px 2.07px 1.67px;
gap: 0px;
opacity: 0px;

}



.modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.19);
  backdrop-filter: blur(6px);
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  z-index: 100;
}

.modal__align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal__content {
  width: 800px;
  height: 500px;
  box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07),
    0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112),
    0px 7.779px 7.30492px rgba(0, 0, 0, 0.035),
    0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
  border-radius: 20px;
  background: transparent;
  color: #000;
  margin: 0rem 4rem;
}

.modal__close {
  background-color: #00FF00;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.modal__video-align {
  display: flex;
  position: relative;
  bottom: 37px;
}

.modal__video-style {
  border-radius: 20px;
  z-index: 100;
}

.modal__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__spinner {
  animation: spin 2s linear infinite;
  font-size: 40px;
  color: #1b6aae;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .modal__content {
    margin: 0rem 1rem;
    width: 100%;
  }
  .modal__video-style {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .modal__content {
    background: transparent;
    height: auto;
  }
  .modal__video-align {
    bottom: 0px;
  }
  .modal__video-style {
    height: auto;
  }
}
